<% @title = "About Us" %>
<% content_for :head do %>
    <meta name="Author" content="Brennhan Matyi, Jordan Duffy, Zachary Bickel, Max Bauer">
    <meta name="Keywords" content="authors, about us, web development, web project">
    <meta name="Description" content="Page about the authors of this website. Contains contact information and last updated information.">
<% end %>


<h1>About us</h1>
<div class="d-flex align-items-center justify-content-left">
    <p>We are CS students at RCTC/WSU in a Web Development class.
       <br>This website is a result of a group project.</p>
</div>

<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Who are we</h4>
        <ul>
            <li>Brennhan: Graduating this semester.</li>
            <li>Jordan: Graduating next year.</li>
            <li>Zach: Graduating next year.</li>
            <li>Max: Graduating this semester.</li>
        </ul>
    </section>
</div>

<div class="d-flex align-items-center justify-content-left">
    <section>
        <h4>Contact info</h4>
        <ul>
            <li>Brennhan: brennhan.matyi@go.winona.edu</li>
            <li>Jordan: jordan.duffy@go.winona.edu</li>
            <li>Zach: zachary.bickel@go.winona.edu</li>
            <li>Max: Maximilien.Bauer@go.winona.edu</li>
        </ul>
    </section>
</div>

<div class="d-flex align-items-center justify-content-left">
    <h4>Last Updated: April 25, 2022</h4>
</div>
