<% @title = "Chairs" %>
<% content_for :head do %>
    <meta name="Author" content="Jordan Duffy">
    <meta name="Keywords" content="chairs, ergonomics, seat pan, seat height, lumbar backrest, armrests, WorkPro Quantum 9000,
	Realspace MFTC 200, Serta Smart Layers">
    <meta name="Description" content="Tips on chair ergonomics, and some chair buying options.">
<% end %>

<div class="d-flex align-items-center justify-content-center">
    <h1>What is an ergonomic chair?</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <ul>
		<li>Seat Pan: The seat pan must at least have 0.5-inch gap between the frong edge of itself to the back of the knee.
				Many ergonomic chairs include adjustable length seat pans for various sizes.
				Most ergonomic chairs have a waterfall front which prevents the seat from catching behind the knees.
		</li>
		<li>Seat Height: Chair height must be pneumatically adjustable in order to ajust the seat-pan height while sitting.
				Some include mechanical height adjustment(spinning) mechanism which isn't as great but acceptable.
				The chair should be able to accomadate both small or tall users.
		</li>
		<li>Lumbar Backrest: Must include curved cushioned lumbar support that can be adjusted up and down, and sometimes forwards and backwards for more comfort.
				The support should accomadate mid-back and upper-back support to shoulder-blade level.
		</li>
		<li>Armrests: Most ergonomic chairs include adjustable armrests.
				These armrests are broad, contoured, cushioned, and comfortable.
				Height of the armrests should be adjustable while sitting.
				These armrests shouldn't get in the way of doing activities such as typing or mousing.
		</li>
	</ul>
</div>
<div class="d-flex align-items-center justify-content-center">
    <h2>Chair Options:</h2>
</div>

<div class="row d-flex align-items-start justify-content-center">
	<div class="col">
		<h3>WorkPro Quantum 9000</h3>
		<h4>$499.99 sale, $549.99 reg</h4>
		<a href="https://www.officedepot.com/a/products/510830/WorkPro-Quantum-9000-Series-Ergonomic-MeshMesh/;jsessionid=0000jm_1M0LWkaSPoNcN-_eNXwW:17h4h7bqh">
			<%= image_tag("chairs/chair1.png", class: "img-fluid", alt: "WorkPro") %>
		</a>
	</div>
	<div class="col">
		<h3>Realspace MFTC 200</h3>
		<h4>$199.99 sale, $299.99 reg</h4>
		<a href="https://www.officedepot.com/a/products/493876/Realspace-MFTC-200-Ergonomic-Mesh-Mid/;jsessionid=0000jm_1M0LWkaSPoNcN-_eNXwW:17h4h7bqh">
			<%= image_tag("chairs/chair2.png", class: "img-fluid", alt: "Realspace") %>
		</a>
	</div>
	<div class="col">
		<h3>Serta Smart Layers</h3>
		<h4>$469.99 reg</h4>
		<a href="https://www.officedepot.com/a/products/304574/Serta-Smart-Layers-Jennings-Big-And/;jsessionid=0000jm_1M0LWkaSPoNcN-_eNXwW:17h4h7bqh">
			<%= image_tag("chairs/chair3.png", class: "img-fluid", alt: "Serta") %>
		</a>
	</div>
</div>

<div class="d-flex align-items-center justify-content-center">
	<h2>References: </h2>
</div>
<div class="d-flex align-items-center justify-content-center">
	<ul>
		<li>https://www.ehs.pitt.edu/workplace/ergonomics/chair</li>
		<li>https://www.officedepot.com/a/browse/ergonomic-office-chairs/N=5+593065/</li>
	</ul>
</div>