<% @title = "Desks" %>
<% content_for :head do %>
    <meta name="Author" content="Max Bauer">
    <meta name="Keywords" content="desks, ergonomics, adjustable desk, folding desk">
    <meta name="Description" content="Tips on desk ergonomics for an office workstation.">
<% end %>

<div class="d-flex align-items-center justify-content-center">
    <h1>Ergonomics in Desks</h1>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h2>Important points on desk ergonomics</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Desk height</li>
            <li class="list-group-item">Desk setup</li>
            <li class="list-group-item">Desktop layout</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h3>Desk height</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">A desk with an adjustable height is preferable.</li>
            <li class="list-group-item">Position the desk at a height where your elbows are bent at 100-110 degrees.</li>
            <li class="list-group-item">Your arms should be at your sides.</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h3>Desk setup</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">There should be enough room below the desk for your legs, with your feet flat on the ground or on a footrest. For more details, see our <%= link_to "chairs section", chair_path, class: "link-dark" %>.</li>
            <li class="list-group-item">If your desk has a hard edge, use some kind of padding on the edge.</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h3>Desk layout</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">There should be enough space on your desk for the things you need. This may include a keyboard, mouse, telephone, monitor, etc.</li>
            <li class="list-group-item">Try to keep objects on your desk within reach.</li>
            <li class="list-group-item">The keyboard and mouse should be within easy reach. For office use, your keyboard should be placed directly in front of you.</li>
            <li class="list-group-item">Keep the mouse close to the keyboard to avoid overreaching.</li>
        </ul>
    </section>
</div>
<div class="d-flex align-items-center justify-content-left">
    <section>
        <h3>Choosing a desk</h3>
        <p>Keeping ergonomics in mind is important when choosing a desk, but personal requirements are most important. Personal requirements could be desk size, keyboard tray, shelf, desk hooks, etc.</p>
    </section>
</div>

<div class="d-flex align-items-center justify-content-center">
    <h2>Recommended Desks</h2>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">  
    <div class="col">
        <div class="card">
        <%= image_tag("desks/fezibo-adjustable-desk.jpg", class: "card-img-top img-fluid", alt: "FEZIBO Adjustable Desk") %>
            <div class="card-body">
            <h3 class="card-title">FEZIBO Adjustable Desk</h3>
                <div class="d-flex flex-row bd-highlight mb-1">
                    <div class="p-2 bd-highlight">
                        <p>Pros:</p>
                        <ul class="list-group">      
                            <li class="list-group-item">Keyboard tray</li>
                            <li class="list-group-item">Height adjustable</li>
                            <li class="list-group-item">Simple assembly</li>
                            <li class="list-group-item">Lockable casters</li>
                            <li class="list-group-item">Desk hooks</li>
                        </ul>
                    </div>
                    <div class="p-2 bd-highlight">
                        <p>Cons:</p>
                        <ul class="list-group">
                            <li class="list-group-item">Expensive</li>
                            <li class="list-group-item">Requires Assembly</li>
                        </ul>
                    </div>
                </div>
            <a href="https://www.amazon.com/FEZIBO-Height-Adjustable-Electric-Standing/dp/B08B4KFDC7/ref=sr_1_5?keywords=ergonomic%2Bdesk&qid=1650829425&sr=8-5&th=1" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <%= image_tag("desks/greenforest-folding-desk.jpg", class: "card-img-top img-fluid", alt: "GreenForest Folding Desk") %>
            <div class="card-body">
            <h3 class="card-title">GreenForest Folding Desk</h3>
                <div class="d-flex flex-row bd-highlight mb-1">
                    <div class="p-2 bd-highlight">
                        <p>Pros:</p>
                        <ul class="list-group">      
                            <li class="list-group-item">Has a shelf</li>
                            <li class="list-group-item">Takes up little space</li>
                            <li class="list-group-item">No assemlbly required</li>
                            <li class="list-group-item">Folds</li>
                        </ul>
                    </div>
                    <div class="p-2 bd-highlight">
                        <p>Cons:</p>
                        <ul class="list-group">
                            <li class="list-group-item">Small</li>
                            <li class="list-group-item">Not adjustable</li>
                            <li class="list-group-item">No keyboard tray</li>
                        </ul>
                    </div>
                </div>
            <a href="https://www.amazon.com/GreenForest-Computer-Assembly-Required-Espresso/dp/B07FD8LX4S?tag=camdenxpsc-20&asc_source=browser&asc_refurl=https%3A%2F%2Fwww.popsci.com%2Freviews%2Fbest-ergonomic-desk&th=1" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>
</div>