<% @title = "Keyboards" %>
<% content_for :head do %>
    <meta name="Author" content="Brennhan Matyi">
    <meta name="Keywords" content="keyboards, ergonomics, Contoured Keyboards, Logitech Ergo K860 Keyboard, Microsoft arc,
    Split-Keyboards, Perixx Periboard-512 Ergonomic Split Keyboard, KINESIS GAMING Freestyle Edge RGB Split Mechanical Keyboard">
    <meta name="Description" content="Tips on keyboard ergonomics, and some buying options.">
<% end %>

<div class="d-flex align-items-center justify-content-center">
    <h1>Ergonomics in Keyboards</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <h1>Contoured Keyboards</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <ul>
        <li>Adjustable slope of keyboard—neutral, positive, or negative</li>
        <li>Padded wrist wrest</li>
        <li>Raised middle to promote neutral wrist position</li>
    </ul>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">  
  <div class="col">
    <div class="card">
      <%= image_tag("Keyboards/k860.jpg", class: "card-img-top", alt: "K860") %>
      <div class="card-body">
      <h5 class="card-title">The Logitech Ergo K860 Keyboard.</h5>
      <div class="d-flex flex-row bd-highlight mb-1">
      <div class="p-2 bd-highlight">
        <span class="">Pros:</span>
        <ul class="">      
            <li><p>Excellent ergonomic design</p></li>
            <li><p>Awesome battery life</p></li>
            <li><p>Wrist rest is second to none</p></li>
        </ul>
      </div>
      <div class="p-2 bd-highlight">
        <span class="">Cons:</span>
        <ul class="">
            <li><p>No backlighting</p></li>
            <li><p>A bit pricey</p></li>
        </ul>
      </div>
     </div>
    <a href="https://www.amazon.com/dp/B07ZWK2TQT?tag=aboutcom02lifewire-20&linkCode=ogi&th=1&psc=1&ascsubtag=4147386%7Cn370a2f259c434a0caf43c29499ef339f21%7CB07ZWK2TQT" class="btn btn-primary">Buy Now</a>
     </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <%= image_tag("Keyboards/arc.jpg", class: "card-img-top", alt: "ARC") %>
      <div class="card-body">
        <h5 class="card-title">The Microsoft arc.</h5>
        <div class="d-flex flex-row bd-highlight mb-1">
      <div class="p-2 bd-highlight">
        <span class="">Pros:</span>
        <ul class="">      
            <li><p>Excellent ergonomic design</p></li>
            <li><p>Awesome battery life</p></li>
            <li><p>Wrist rest is second to none</p></li>
        </ul>
      </div>
      <div class="p-2 bd-highlight">
        <span class="">Cons:</span>
        <ul class="">
            <li><p>No backlighting</p></li>
            <li><p>A bit pricey</p></li>
        </ul>
      </div>
     </div>
     <a href="https://www.amazon.com/Microsoft-Arc-Keyboard-Black-J5D-00003/dp/B003BL9HKO/ref=sr_1_1?crid=1OFRWP03M1R8X&keywords=microsoft+arc+keyboard&qid=1650836245&s=electronics&sprefix=micrsoft+arc+keyboa%2Celectronics%2C94&sr=1-1" class="btn btn-primary"> Buy Now</a>
      </div>
    </div>
  </div>
</div>

<div class="d-flex align-items-center justify-content-center">
    <h1>Split-Keyboards</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <ul>
        <li>Keyboard splits possibly into two halfs of a keyboards</li>
        <li>some split just the qwerty keys into two halfs on the keyboard </li>
        <li>Padded wrist wrest for each part of the keyboard</li>
        <li>Not compatible with a roller mouse.</li>
    </ul>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">  
  <div class="col">
    <div class="card">
      <%= image_tag("Keyboards/perixx.jpg", class: "card-img-top", alt: "Periboard-512 Ergonomic Split Keyboard") %>
      <div class="card-body">
      <h5 class="card-title">Perixx Periboard-512 Ergonomic Split Keyboard.</h5>
      <div class="d-flex flex-row bd-highlight mb-1">
      <div class="p-2 bd-highlight">
        <span class="">Pros:</span>
        <ul class="">      
            <li><p>good ergonomic design</p></li>
            <li><p>wired keyboard</p></li>
            <li><p>has a num pad</p></li>
            <li><p>has a ton of shortcut keys</p></li>
            <li><p>cheap</p></li>
        </ul>
      </div>
      <div class="p-2 bd-highlight">
        <span class="">Cons:</span>
        <ul class="">
            <li><p>No backlighting</p></li>
            <li><p>A bit cheap feeling</p></li>
            <li><p>made out of plastics</p></li>
        </ul>
      </div>
     </div>
    <a href="https://www.amazon.com/Perixx-PERIBOARD-512-Ergonomic-Split-Keyboard/dp/B075GZVD4T" class="btn btn-primary">Buy Now</a>
     </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <%= image_tag("Keyboards/Freestyle.jpg", class: "card-img-top", alt: "Freestyle") %>
      <div class="card-body">
        <h5 class="card-title">KINESIS GAMING Freestyle Edge RGB Split Mechanical Keyboard.</h5>
        <div class="d-flex flex-row bd-highlight mb-1">
      <div class="p-2 bd-highlight">
        <span class="">Pros:</span>
        <ul class="">      
            <li><p>Excellent ergonomic design</p></li>
            <li><p>wired cable between both parts of the keyboard</p></li>
            <li><p>Wrist rest included</p></li>
            <li><p>RGB backlighting</p></li>
        </ul>
      </div>
      <div class="p-2 bd-highlight">
        <span class="">Cons:</span>
        <ul class="">
            <li><p>Not wireless</p></li>
            <li><p>very expensive</p></li>
            <li><p>No numpad</p></li>
        </ul>
      </div>
     </div>
     <a href="https://www.amazon.com/KINESIS-Gaming-Freestyle-Mechanical-Keyboard/dp/B07SW1S3YZ/ref=sr_1_2?crid=2AC7LDL8TK1HR&keywords=freestyle&qid=1650836036&s=electronics&sprefix=freestyle%2Celectronics%2C104&sr=1-2&th=1" class="btn btn-primary"> Buy Now</a>
      </div>
    </div>
  </div>
</div>